.observation-container {
  text-align: left;
  background-color: #ededed;
  color: #444444;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
  justify-content: center;
}

.element {
  padding-top: 12px;
  text-align: center;
}

.date {
  color: #2aa8a3;
  font-weight: bold;
  text-align: center;
}
