.observation-type {
  padding: 5px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 18px;
  color: #444444;
}

.observation-type :hover {
  color: #2aa8a3;
}

.observation-type :active {
  color: #a8f0ec;
}

a {
  color: inherit;
  text-decoration: inherit;
}
